.readCards {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.title-bar{
    position: relative;
    text-align: center;
}

.LOLtitle{
    position: absolute; 
    top: 50%; 
    left: 20%; 
    transform: translate(-50%, -50%); 
    color: white; 
    font-size: 3.5vw;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);   
    margin-top:0px;
}

.searches{
    display:flex;
    justify-content: space-between;
    margin-left:65px;
    margin-bottom:20px;
    margin-top:10px;
}
.searchBar{
    display:flex;
    margin-right:65px;
}

#searchButton{
    padding:5px;
}

#searchInput{
    font-size:16px;
}

#sortOrderSelect{
    font-size:14px;
    padding:5px;
}