.info-container{
    backdrop-filter: blur(2px);
    border: 1px solid rgba(187, 187, 187, 0.497);
    border-radius: 10px;
    padding-right: 10px;
    background-color: rgba(100, 100, 100, 0.5);
    margin-left:60px;
    margin-right:60px;
    margin-bottom: 15px;
}

.info-title{
    font-size:35px;
    text-align: left;
    margin-left:60px;
    margin-right:60px;
}

.info-image{
    max-width:100%;
    max-height:400px;
}

.info-description{
    margin-left:15px;
    text-align: left;
}
