#root {
  margin: 0 auto;
  padding-top: 3rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.header {
  background-color: #000000;
  color: white;
  padding: 10px 0;
  text-align: center;
  position: fixed;
  top: 0;
  left:0;
  width: 100%;
  z-index: 100;
  display:flex;
  justify-content:center;
}

.header-button{
  margin-right:10px;
  margin-left:10px;
  background-color: #2f2f2f;
}

.login-button{
  background-color: red;
  color:black;
}

.logout-button{
  margin-left:10px;
}